---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Page Not Found";
---

<BaseLayout pageTitle={pageTitle}>
  Don't worry,
  you can always return to
  <a href="/">home.</a>
  Drop me
  <a href="mailto:web@kadykov.com">a message</a>
  if the page you are looking for is important for you.
</BaseLayout>
