---
import BaseLayout from "../layouts/BaseLayout.astro"
import ContactForm from "../components/ContactForm.astro"
const pageTitle = "Contact me"
---

<BaseLayout pageTitle={pageTitle}>
  <div class="prose-serif max-w-2xl mx-auto mt-10 w-11/12 sm:w-5/6">
    <h1>{pageTitle}</h1>
    <p>
      If you have any questions or feedback, feel free to reach out to me. I
      will try to get back to you as soon as possible. Drop me a <a
        href="mailto:web@kadykov.com">message</a
      > or use the form below.
    </p>
  </div>
  <ContactForm />
</BaseLayout>
