---
import { Icon } from "astro-icon/components"
---

<form name="contact" method="POST" data-netlify="true" netlify-honeypot="title">
  <label>
    <Icon name="ri:account-circle-line" />
    <input type="text" name="name" placeholder="Name" required />
  </label>

  <label>
    <Icon name="ri:account-circle-line" />
    <input
      type="text"
      name="title"
      placeholder="Title"
      tabindex="-1"
      autocomplete="off"
    />
  </label>

  <label>
    <Icon name="ri:mail-line" />
    <input type="email" name="email" placeholder="email@example.com" required />
  </label>

  <textarea
    name="message"
    placeholder="Hey Aleksandr, I'd like to chat about..."
    required></textarea>

  <button type="submit">
    <Icon name="ri:send-plane-line" />
    Send Message
  </button>
</form>

<style>
  /* Hide the second label (honeypot field) using positional selector.
  Place it in the top right corner where it will be hidden by the navbar
  and the hero section */
  form > label:nth-of-type(2) {
    position: absolute;
    top: 0;
    right: 0;
  }
</style>
