---
import { Icon } from "astro-icon/components"
---

<footer class="footer bg-neutral text-neutral-content p-10 items-center">
  <aside class="flex items-center">
    <Icon name="logo" class="h-10 w-10" />
    <p>© 2024. Aleksandr Kadykov</p>
  </aside>
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover" href="mailto:web@kadykov.com">
      <Icon name="ri:mail-send-line" class="h-8 w-8" />
    </a>
    <a
      class="link link-hover"
      href="https://www.linkedin.com/in/aleksandr-kadykov/"
    >
      <Icon name="ri:linkedin-line" class="h-8 w-8" />
    </a>
  </nav>
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover" href="https://github.com/kadykov">
      <Icon name="ri:github-line" class="h-8 w-8" />
    </a>
    <a class="link link-hover" href="https://gitlab.com/kadykov">
      <Icon name="ri:gitlab-line" class="h-8 w-8" />
    </a>
  </nav>
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover" href="https://kadykov.com/rss.xml">
      <Icon name="ri:rss-line" class="h-8 w-8" />
    </a>
  </nav>
</footer>
