---
import { Icon } from "astro-icon/components"
---

<button
  type="button"
  class="mobile-only"
  aria-label="Open navigation menu"
  onclick="document.getElementById('navbar-drawer').checked = true"
>
  <Icon name="ri:menu-line" />
</button>
