---
import { Icon } from "astro-icon/components"
---

<button
  type="button"
  aria-label="Open navigation menu"
  onclick="document.getElementById('navbar-drawer').checked = true"
>
  <Icon name="ri:menu-line" style="height: 2rem; width: 2rem;" />
</button>
