---
---
<div class="hamburger space-y-2 p-2 sm:collapse sm:w-0 sm:p-0">
    <span class="block w-8 h-1 bg-gray-600 rounded-full"></span>
    <span class="block w-8 h-1 bg-gray-600 rounded-full"></span>
    <span class="block w-8 h-1 bg-gray-600 rounded-full"></span>
</div>
