---
import Dropdown from "./Dropdown.astro"
import Navigation from "./Navigation.astro"
---

<Dropdown icon="ri:menu-line" aria-label="Main navigation menu">
  <nav>
    <ul>
      <Navigation />
    </ul>
  </nav>
</Dropdown>
