---
import Logo from "./Logo.astro"
import Navigation from "./Navigation.astro"
import Hamburger from "./Hamburger.astro"
import ThemeSwitch from "./ThemeSwitch.astro"
// import StandaloneShareButton from "./StandaloneShareButton.astro"
---

<header>
  <nav aria-label="Main navigation">
    <Logo />
    <ul>
      <Navigation />
    </ul>
  </nav>
  <ThemeSwitch />
  <!-- <StandaloneShareButton /> -->
  <Hamburger />
</header>

<style is:global>
  body > header {
    background: var(--color-surface-container-low);
    box-shadow: var(--elevation-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 10;
  }

  body > header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }

  body > header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0.5em;
  }

  /* Hide icons in main navigation on large screens */
  body > header nav ul svg {
    display: none;
  }

  body > header button,
  body > header details summary {
    padding: 0.5em;
    margin: 0;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body > header button svg,
  body > header details summary svg {
    height: 1em;
    width: 1em;
    color: var(--color-on-surface);
  }

  details:has(nav) {
    display: none;
  }

  @media (max-width: 680px) {
    body > header nav ul {
      display: none;
    }
    details:has(nav) {
      display: block;
    }
  }
</style>
