---
import { Icon } from "astro-icon/components"
---

<a href="/" class="flex gap-1 items-center">
  <Icon name="logo" class="h-10 sm:h-12 w-full" />
  <p class="text-normal sm:text-xl font-bold sm:hidden xl:block">
    Aleksandr<br />Kadykov
  </p>
</a>
