---
import { Icon } from 'astro-icon/components'
---
<a href="/" class="flex gap-1 items-center">
    <Icon name="logo" class="h-full w-16"/>
    <p class="text-xl font-semibold sm:hidden lg:block">
        Aleksandr<br>Kadykov
    </p>
</a>
