---
import { Icon } from "astro-icon/components"
---

<a href="/" aria-label="Home">
  <Icon name="logo" />
  <span>
    Aleksandr<br />KADYKOV
  </span>
</a>

<style is:global>
  header nav > a {
    display: flex;
    gap: 0.25em;
    align-items: center;
  }
  header nav > a svg {
    height: 2.5em;
    width: auto;
    flex-shrink: 0;
  }
  /* Show logo text on mobile, hide on tablet, show on desktop */
  header nav > a span {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    font-weight: 600;
    color: var(--color-content);
    margin: 0;
  }
  @media (min-width: 680px) and (max-width: 899px) {
    header nav > a span {
      display: none;
    }
  }
</style>
