---
import { Icon } from "astro-icon/components"
---

<a href="/" class="flex gap-1 items-center">
  <Icon name="logo" class="h-10 sm:h-12 w-full" />
  <p class="logo-text sm:hidden xl:block">
    Aleksandr<br />KADYKOV
  </p>
</a>
