---
import Logo from "./Logo.astro"
---
<ul class="flex justify-between py-3 text-xl">
    <li><a href="/"><Logo /></a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/tags/">Tags</a></li>
    <li><a href="/photos/">Photos</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/cv/">CV</a></li>
</ul>
