---
import { Icon } from "astro-icon/components"
---

<li><a href="/"><Icon name="ri:home-line" /><span>Home</span></a></li>
<li>
  <a href="/photos/1/"><Icon name="ri:camera-line" /><span>Photos</span></a>
</li>
<li><a href="/cv/"><Icon name="ri:file-text-line" /><span>CV</span></a></li>
<li><a href="/about/"><Icon name="ri:user-line" /><span>About</span></a></li>
<li>
  <a href="/contact/"><Icon name="ri:mail-line" /><span>Contact</span></a>
</li>
