---
// Import the Icon component for navigation icons
import { Icon } from "astro-icon/components"
---

<li><a href="/"><Icon name="ri:home-line" size={16} /> Home</a></li>
<li><a href="/blog/"><Icon name="ri:article-line" size={16} /> Blog</a></li>
<li><a href="/photos/"><Icon name="ri:camera-line" size={16} /> Photos</a></li>
<li><a href="/cv/"><Icon name="ri:file-text-line" size={16} /> CV</a></li>
<li><a href="/about/"><Icon name="ri:user-line" size={16} /> About</a></li>
<li><a href="/contact/"><Icon name="ri:mail-line" size={16} /> Contact</a></li>
