---
---
<nav class="w-full hidden sm:block">
    <ul class="flex flex-col sm:flex-row justify-between py-3 pl-4 text-xl items-center font-semibold">
        <li class="hover:opacity-75"><a href="/">Home</a></li>
        <!-- <li class="hover:opacity-75"><a href="/blog/">Blog</a></li> -->
        <li class="hover:opacity-75"><a href="/about/">About</a></li>
        <!-- <li class="hover:opacity-75"><a href="/photos/">Photos</a></li> -->
        <!-- <li class="hover:opacity-75"><a href="/contact/">Contact</a></li> -->
        <!-- <li class="hover:opacity-75"><a href="/cv/">CV</a></li> -->
    </ul>
</nav>
