---
// src/components/PaginationNav.astro
import type { Page } from "astro"

interface Props {
  page: Page<any> // Accept any type of paginated data
}

const { page } = Astro.props
---

{
  page.lastPage > 1 && (
    <nav aria-label="Pagination">
      <ul>
        <li>
          {page.url.prev ? (
            <a href={page.url.prev}>&laquo; Previous</a>
          ) : (
            <span aria-disabled="true">&laquo; Previous</span>
          )}
        </li>
        <li>
          <span>
            Page {page.currentPage} of {page.lastPage}
          </span>
        </li>
        <li>
          {page.url.next ? (
            <a href={page.url.next}>Next &raquo;</a>
          ) : (
            <span aria-disabled="true">Next &raquo;</span>
          )}
        </li>
      </ul>
    </nav>
  )
}
