---

---

<div
  class="font-serif
  hyphens-auto
  max-w-screen-sm
  prose
  prose-lg
  sm:prose-xl
  prose-headings:font-sans
  prose-headings:font-medium
  prose-a:text-blue-800
  prose-a:no-underline
  hover:prose-a:text-blue-500"
>
  <slot />
</div>
