---
import { getCollection } from "astro:content"
import BaseLayout from "../../../layouts/BaseLayout.astro"
import Hero from "../../../components/Hero.astro"
import { slugify } from "../../../utils/slugify"
import {
  getUniqueValues,
  countByField,
  formatCount,
} from "../../../utils/collectionHelpers"

const allPosts = await getCollection("blog")

const tags = getUniqueValues(allPosts, (post) => post.data.tags)
const tagCounts = countByField(allPosts, (post) => post.data.tags)

const frontmatter = {
  title: "Tag Index",
  description: "Browse all blog post tags",
}
---

<BaseLayout frontmatter={frontmatter}>
  <Hero>
    <h1>Blog Tags</h1>
    <p>Explore posts by tags</p>
  </Hero>

  <nav aria-label="Blog tags">
    <ul>
      {
        tags.map((tag) => (
          <li>
            <a href={`/blog/tags/${slugify(tag)}`}>
              #{tag} {formatCount(tagCounts.get(tag) || 0)}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>

  <nav>
    <ul>
      <li>
        <a href="/blog">All blog posts</a>
      </li>
    </ul>
  </nav>
</BaseLayout>
