---
import Header from '../components/Header.astro';
const {pageTitle} = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class="mx-auto max-w-screen-lg">
			<Header />
			<h1 class="text-4xl m-5">{pageTitle}</h1>
			<slot />
		</div>
	</body>
</html>
