---
import HeaderlessLayout from "./HeaderlessLayout.astro";
import Header from "../components/Header.astro";
const { pageTitle, hasGlightbox } = Astro.props
---
<HeaderlessLayout pageTitle={pageTitle} hasGlightbox={hasGlightbox}>
  <div class="shadow-lg bg-base-300 text-basebg-base-300-content">
    <Header />
  </div>
  <main>
    <slot />
  </main>
</HeaderlessLayout>
