---
import Footer from "../components/Footer.astro"
import Drawer from "../components/Drawer.astro"
import fontSans from "@fontsource-variable/source-sans-3/files/source-sans-3-latin-wght-normal.woff2?url"
import fontSerif from "@fontsource-variable/bitter/files/bitter-latin-wght-normal.woff2?url"
import Header from "../components/Header.astro"
const {
  title = "kadykov.com",
  description = "A photo gallery and blog by Kadykov.",
} = Astro.props
import "../styles/base.css"
---

<html lang="en">
  <head>
    <script
      is:inline
      defer
      src="/umami/script.js"
      data-website-id="8254b650-ea3c-461d-9f3e-0ad467230fa1"></script>

    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme") ?? "light"
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark"
        }
        return "light"
      })()

      if (theme === "light") {
        document.documentElement.setAttribute("data-theme", "light")
      } else {
        document.documentElement.setAttribute("data-theme", "dark")
      }
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={fontSans}
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={fontSerif}
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <style>
      @view-transition {
        navigation: auto;
      }
      .layout-navbar {
        position: sticky;
        top: 0;
        z-index: 10;
        box-shadow: var(--color-shadow);
        background: var(--color-bg);
        transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      }
      .layout-main {
        min-height: 60vh;
        width: 100%;
        margin: 0 auto;
        padding: 0 1rem;
        max-width: 1200px;
      }
      .layout-footer {
        margin-top: 3rem;
        background: var(--color-bg-muted);
        color: var(--color-content);
        box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.04);
      }
    </style>
  </head>
  <body class="subpixel-antialiased">
    <Drawer>
      <div slot="content">
        <div id="navbar" class="layout-navbar">
          <Header />
        </div>
        <main class="layout-main">
          <slot />
        </main>
        <div class="layout-footer">
          <Footer />
        </div>
      </div>
    </Drawer>
    <script>
      let prevScrollpos = window.scrollY
      let navbar = document.getElementById("navbar")
      let scrollThreshold = 5
      if (navbar) {
        window.addEventListener("scroll", function () {
          let currentScrollPos = window.scrollY
          if (currentScrollPos > prevScrollpos + scrollThreshold) {
            navbar.style.top = "-100px"
          } else if (currentScrollPos < prevScrollpos - scrollThreshold) {
            navbar.style.top = "0"
          }
          prevScrollpos = currentScrollPos
        })
      }
    </script>
  </body>
</html>
