---
import Footer from "../components/Footer.astro"
import Navigation from "../components/Navigation.astro"
import fontSans from "@fontsource-variable/yaldevi/files/yaldevi-latin-wght-normal.woff2?url"
import fontSerif from "@fontsource-variable/faustina/files/faustina-latin-wght-normal.woff2?url"
import Header from "../components/Header.astro"
const { pageTitle } = Astro.props
import "../styles/base.css"
---

<html lang="en">
  <head>
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme") ?? "light"
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark"
        }
        return "light"
      })()

      if (theme === "light") {
        document.documentElement.setAttribute("data-theme", "light")
      } else {
        document.documentElement.setAttribute("data-theme", "dark")
      }
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={fontSans}
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={fontSerif}
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{pageTitle}</title>
    <style>
      @view-transition {
        navigation: auto;
      }
    </style>
  </head>
  <body class="drawer drawer-end subpixel-antialiased">
    <input id="navbar-drawer" type="checkbox" class="drawer-toggle" />

    <div class="drawer-content min-h-screen">
      <div
        id="navbar"
        class="sticky top-0 duration-300 ease-in-out z-10 shadow-md bg-base-200 text-basebg-base-200-content"
      >
        <Header />
      </div>

      <main>
        <slot />
      </main>
    </div>

    <div class="shadow-inner bg-neutral text-neutral-content">
      <Footer />
    </div>

    <div class="drawer-side z-20 min-h-screen">
      <label
        for="navbar-drawer"
        aria-label="close sidebar"
        class="drawer-overlay"></label>
      <ul
        class="menu menu-lg bg-base-200 text-base-content min-h-full max-w-80 w-3/4 p-4"
      >
        <Navigation />
      </ul>
    </div>
    <script>
      let prevScrollpos = window.scrollY
      let navbar = document.getElementById("navbar")
      let scrollThreshold = 5
      if (navbar) {
        window.addEventListener("scroll", function () {
          let currentScrollPos = window.scrollY
          if (currentScrollPos > prevScrollpos + scrollThreshold) {
            navbar.style.top = "-100px"
          } else if (currentScrollPos < prevScrollpos - scrollThreshold) {
            navbar.style.top = "0"
          }
          prevScrollpos = currentScrollPos
        })
      }
    </script>
  </body>
</html>
