---
import BaseLayout from "./BaseLayout.astro"
const { frontmatter } = Astro.props
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="prose-serif mx-auto">
    <slot />
  </div>
</BaseLayout>
