---
import BaseLayout from "./BaseLayout.astro"
const { frontmatter } = Astro.props
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="prose-serif mx-auto my-10 w-11/12 sm:w-5/6">
    <h1>{frontmatter.title}</h1>
    <slot />
  </div>
</BaseLayout>
