---
import BaseLayout from "./BaseLayout.astro"
import PhotoGallery from "../components/PhotoGallery.astro"
import PaginationNav from "../components/PaginationNav.astro"
import type { PhotoManifestItem } from "../utils/photoManifestSchema"
import type { Page } from "astro"

interface Props {
  page: Page<PhotoManifestItem>
  fullPhotoDataset: PhotoManifestItem[]
  pageTitle: string
  pageDescription: string
}

const { page, fullPhotoDataset, pageTitle, pageDescription } = Astro.props

const frontmatter = {
  title: pageTitle,
  description: pageDescription,
  pageType: "photo-gallery",
}
---

<BaseLayout frontmatter={frontmatter}>
  <slot name="heroContent" />

  <PhotoGallery photos={page.data} fullPhotoDataset={fullPhotoDataset} />

  <PaginationNav page={page} />
  <nav>
    <ul>
      <li><a href="/photos/1">All photos</a></li>
      <li><a href="/photos/tags">Browse by tag</a></li>
      <li><a href="/photos/dates">Browse by date</a></li>
    </ul>
  </nav>
</BaseLayout>
